{% extends "base.html" %}
{% block content %}
  <h1>Äänestysvaihtoehdon tiedot</h1>
  <form method="post" action="{{base_path}}/poll_option/{{poll_option.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">
      Poista tämä äänestysvaihtoehto ja kaikki siihen liittyvät tiedot
    </button>
  </form>
  <ul>
    <li><strong>Äänestys:</strong>{{poll.poll_name}}</li>
    <li><strong>Nimi:</strong>{{poll_option.name}}</li>
    <li><strong>Kuvaus:</strong>{{poll_option.description}}</li>
  </ul>
{% endblock %}
