{% extends "base.html" %}
{% block content %}

<h1>Lisää henkilö</h1>

{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/person">

  <div class="form-group">
    <label>Nimi</label>
    <input name="name" class="form-control"
	   value="{{attributes.name}}" type="text">
  </div>
  
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input name="username" class="form-control"
	   value="{{attributes.username}}" type="text">
  </div>
  
  <div class="form-group">
    <label>Sähköposti</label>
    <input name="email" class="form-control"
	   value="{{attributes.email}}" type="text">
  </div>
  
  <div class="form-group">
    <label>Salasana</label>
    <input name="password_plain" class="form-control"
	   value="{{attributes.password_plain}}" type="password">
  </div>
  
  <div class="form-group">
    <label>Ylläpitäjä?</label>
    <select name="admin">
      <option value="0"
	      {% if attributes.admin == 0 %}
	      selected
	      {% endif %}
	      >Ei 
      <option value="1"
	      {% if attributes.admin == 1 %}
	      selected
	      {% endif %}
	      >Kyllä
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Lisää</button>
  </div>

</form>

{% endblock %}
