{% extends "base.html" %}
{% block content %}
  <h1>Paras harjoitustehtävän aihe</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Alkupäivä:</strong> 19.3.2017</li>
    <li><strong>Loppupäivä:</strong> 19.5.2017</li>
    <li><strong>Anomuumi?</strong> Kyllä</li>
    <li><strong>Tyyppi</strong> Näytä nykyinen kärki</li>
  </ul>
{% endblock %}
